@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600&display=swap");

/* globals.css */

/* Light theme styles */
body {
  background-color: #ffffff;
  color: #000000;
}

/* Dark theme styles */
.dark body {
  background-color: #000000;
  color: #ffffff;
}
